:root {
  --hero-text-color: #F9FAF8;
  --hero-secondary-color: #E5E7EB;
  --dark-background-color: #1F2937;
  --blue-color: #3882F6;
  --info-header-color: #1F2937;
  --quote-text: #1F2938;
  --quote-background: #E5E7EB;
}

body {
  margin: 0;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 450px 0 450px;
  background-color: var(--dark-background-color);
}

header h1 {
  color: var(--hero-text-color);
  font-size: 24px;
}

ul {
  display: flex;
  gap: 16px;
  list-style: none;

  color: var(--hero-secondary-color);
  font-size: 18px;
}

button {
  font-weight: 600;
  color: var(--hero-text-color);
  background-color: var(--blue-color);
  border: none;
  border-radius: 5px;
  padding: 8px 28px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  padding: 100px 450px 100px 450px;

  background-color: var(--dark-background-color);
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: var(--hero-text-color);

  margin: 0;
}

.hero-paragraph {
  font-size: 18px;
  color: var(--hero-secondary-color);

  margin: 0;
  margin-bottom: 8px;
}

.hero img {
  width: 900px;
  height: 350px;
}

.info-container {
  
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 30px 600px;
}

.info-header {
  font-size: 36px;
  font-weight: 900;
  color: var(--info-header-color);

  margin-top: 0;
  margin-bottom: 24px;
}

.item-container {
  display: flex;
  gap: 36px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-image {
  width: 150px;
  height: 150px;

  border-radius: 10px;
  border: 2px solid var(--blue-color);
}

.item p {
  margin: 0;
  padding: 8px 0;
  font-size: 18px;
  color: var(--quote-text);
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 600px;

  background-color: var(--quote-background);
  color: var(--quote-text);
}

.quote-text {
  text-wrap: wrap;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;

  margin: 0;
}

.quote-name {
  align-self: flex-end;
  font-size: 18px;
  font-weight: 700;

  margin: 0;
}

.signup-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 500px;
  padding: 36px 36px;

  border-radius: 6px;
  background-color: var(--blue-color);
}

.signup-container h3 {
  color: var(--hero-text-color);

  margin: 0;
}

.signup-container p {
  font-weight: 300;
  color: var(--hero-secondary-color);

  margin: 0;
}

.signup-container button {
  border: 2px solid var(--hero-text-color);
}

footer {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 72px;
}