/* Variables */
:root {
  --dark-color: #1f2937;
  --light-color: #f9faf8;
  --grayish-color: #e5e7eb;
  --button-color: #3882f6;
}

body {
  font-family: Roboto, Georgia, "Times New Roman", Times, serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: var(--light-color);

  margin: 0;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  color: var(--dark-color);
}

.sub-text {
  font-size: 18px;
  color: var(--grayish-color);
}

/* Header */
.header {
  background-color: var(--dark-color);

  width: 850px;
  padding: 0 100%;
  padding-top: 16px;

  display: flex;
  justify-content: space-between;
  
}

.header-logo {
  font-size: 24px;
  font-weight: 900;
  color: var(--light-color);
}

.right-links {
  font-size: 18px;
  color: var(--grayish-color);

  display: flex;
  align-items: center;
  gap: 16px;
}

/* Hero Section */
.hero-section {
  background-color: var(--dark-color);

  width: 850px;
  padding: 100px 100%;

  display: flex;
  gap: 28px;
}

.hero-container {
  flex: 1;
  text-wrap: wrap;
}

.hero-section img {
  flex: 1;
  background-color: var(--grayish-color);
}
